::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--red);
}

:root {
  --yellow: #fcc14a;
  --blue: #327b9f;
  --red: #ff3863;
  --purple: #80558c;
  --green: #59ce8f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
  /* outline: 1px dodgerblue dotted; */
}

img {
  display: flex;
}

body,
html {
  height: 100%;
}

body {
  background-color: #050505;
  color: #eee;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

main {
  padding: 0.5rem;
  overflow: auto;
  flex: 1;
}

a,
a:visited {
  text-decoration: none;
  color: unset;
  cursor: pointer;
  transition: all 150ms ease;
}

.comp-enter-from,
.comp-leave-to {
  translate: 0 0.25rem;
  opacity: 0;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
}

.route-enter-from,
.route-leave-to {
  opacity: 0;
}

.route-enter-active,
.route-leave-active,
.list-enter-active,
.list-leave-active,
.comp-enter-active,
.comp-leave-active {
  transition: all 150ms ease-in;
}

.tabs {
  display: flex;
  overflow: auto;
  border-bottom: 2px solid #444;
  padding: 0.15rem;
}

.tabs::-webkit-scrollbar {
  height: 0px;
}

.tab {
  padding: 0.45rem;
  cursor: pointer;
  flex: 1;
  text-align: center;
  transition: all 150ms linear;
  border-bottom: 2px solid transparent;
  translate: 0 2px;
  white-space: nowrap;
  user-select: none;
}

.tab:hover {
  transition: all 150ms linear;
  border-bottom: 2px solid var(--yellow);
}

.sections {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 0.55rem 0;
}

.section {
  display: flex;
  flex-flow: column;
  gap: 0.55rem;
}

.sectionTitle {
  /* border-left: 3px solid var(--yellow); */
  /* padding: 0.15rem 0.45rem; */
  font-weight: bold;
}

.sectionName {
  display: flex;
  flex-flow: row wrap;
  gap: 0.35rem;
}

.inputName {
  border: none;
  background: none;

  padding: 0.45rem;
  font-weight: bold;
  border-radius: 0.15rem;
  font-size: 1rem;
  color: #eee;
  background-color: #222;
}

.action {
  border: none;
  cursor: pointer;
  transition: all 150ms linear;
  background-color: #333;
  font-weight: bold;
  border-radius: 0.2rem;
  padding: 0.5rem 0.8rem;
  user-select: none;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.action:hover {
  transition: all 150ms linear;
  translate: 0 -0.1rem;
}

.action:focus {
  transition: all 150ms linear;
}

.action:active {
  transform: scale(0.95);
  transition: all 150ms linear;
}

.action:disabled {
  transition: all 150ms linear;
  background-color: #222;
  border-radius: 0;
  transform: scale(1);
  color: #aaa;
  cursor: not-allowed;
}

.container {
  max-width: 45rem;
  margin: auto;
  display: flex;
  flex-flow: column;
}

.subcontainer {
  display: flex;
  flex-flow: column;
  gap: 0.55rem;
}

.activeTab {
  border-bottom: 2px solid var(--yellow);
}

@media (min-width: 35rem) {
  #foot {
    display: none;
  }

  body {
    overflow: auto;
  }

  main {
    overflow: auto;
  }

  .main {
    max-width: 75rem;
    margin: auto;

  }

  section {
    justify-content: flex-start;
  }

  .tabs {
    overflow: unset;
    padding: 0;
    width: fit-content;
  }

  .tab {
    flex: unset;
    text-align: unset;
  }
}